.titles{
    color:red;
    font-family:'Castellar';
    font-size:40px;



}


body{
    background-image:url(background\ img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;



}
